.section__about {
    margin-top: 2.5rem;
}

/* temporary styling to test sticky */
.section__container {
    height: 1000px;
    width: 100%;
}

.section__heading {
    display: flex;
}

.section__heading--divider {
    border-top: 1px solid #000;
    display: block;
    flex-grow: 1;
    height: 1px;
    margin: 2em 0;
    outline: none;
    padding: 0;
    margin-right: 1rem;
}

.section__heading--title {
    text-transform: uppercase;
}

